p{
    overflow-wrap: break-word;
}

.contact > p{
    text-align: start;
}

a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

p > a:hover {
    color: #4E878C;
    border-bottom: 2px solid #4E878C;
    transition: border-bottom 1s ease;
    max-width: 250px;
}