.card {
    margin-top: 20px;
    box-shadow: 2px 2px rgba(151, 151, 151, 0.826);
    overflow: hidden;
  }
  
  .card-body {
    height: 140px;
  }
  
  .card-img-custom {
    object-fit: contain;
    width: 287px;
    height: 250px;
  }

  .Product_all_list{
    margin-block-start: 15px;
}

.msg{
  padding-top: 15px;
  text-align: center;
  font-weight: bolder;
}


.search_bar_products{
  width: 15rem;
  margin-top: 20px;  
  border-radius: 10px;
  height: 2.5rem;
  font-size: 18px;
  transition: font-size 0.8s ease;

}

.search_bar_products:focus{
  transition: font-size 0.8s ease;
  border: 3px solid gray;
  font-size: 21px;
}

.skeleton-loader {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  height: 300px; 
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.skeleton-loader .skeleton-img {
  width: 100%;
  height: 200px; 
  background-color: #ddd;
  border-radius: 4px;
  object-fit: cover;
  margin-bottom: 10px;
}

.skeleton-loader .skeleton-text {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.skeleton-loader .skeleton-price {
  width: 50%; 
  height: 20px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.popup{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  overflow-y: auto;
  margin-top: 0px;
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 900px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
}

.popup-inner .pop-close-btn{
  position: absolute;
  top: 30px; 
  right: 30px;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
}

.desc{
  display: block;
}

.phone-img-focus{
  object-fit: contain;
  height: 350px;
  width: 350px;
  padding: 5px;
}

.phone-img{
  max-width: 115px;
  margin: 8px;
  object-fit: cover;
}

.img-collection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alt-img-collection{
  display: grid;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .alt-img-collection img{
    display: none;
  }
  .phone-img-focus{
    height: 200px;
  }
}

.magni-icon{
  width: 5%;
  position: absolute;
  top: 32px; 
  right: 50px;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}